{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [2, "global"],
    "quotes": [2, "single", "avoid-escape"],
    "no-console": 0
  },
  "globals": {
    "expect": true,
    "debug": true
  },
}
